# .NET
bin/
obj/
*.user
*.csproj.user
*.suo
*.userosscache
*.sln.docstates

# Node
node_modules/
dist/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env

# IDE and local tool caches
.vs/
.appdata/
.dotnet/
.nuget/
.userprofile/
